# ADMIN (Fallback & Infrastructure)
* @Shu-papi @Reyneko

/.github/ @Shu-papi
/README.md @Shu-papi

# QA TEAM (Testing)
/tests/ @Ferge123 @johnmarkdapitan

# DEV TEAM: CHARACTERS & SKILLS
/src/characters/ @bobagart @seviioo @QyuziXENar
/src/skills/ @bobagart @seviioo @QyuziXENar
/assets/characters/ @bobagart @seviioo @QyuziXENar
/assets/skills/ @bobagart @seviioo @QyuziXENar

# DEV TEAM: MONSTERS & BOSSES
/src/monsters/ @Shu-papi @hretryon-commits @Justine-git23
/src/bosses/ @Shu-papi @hretryon-commits @Justine-git23
/assets/monsters/ @Shu-papi @hretryon-commits @Justine-git23
/assets/bosses/ @Shu-papi @hretryon-commits @Justine-git23

# DEV TEAM: INVENTORY & MENU/UI
/src/inventory/ @arielturrobia-netizen 
/src/ui/ @arielturrobia-netizen 
/assets/inventory/ @arielturrobia-netizen 
/assets/ui/ @arielturrobia-netizen 

# DEV TEAM: MAP DESIGN (Shared)
/src/maps/ @Shu-papi @hretryon-commits @Justine-git23 @arielturrobia-netizen @bobagart @seviioo @QyuziXENar @Reyneko @Ferge123 @johnmarkdapitan @geeralphtowns @cyrusbacus418-netizen
/assets/maps/ @Shu-papi @hretryon-commits @Justine-git23 @arielturrobia-netizen @bobagart @seviioo @QyuziXENar @Reyneko @Ferge123 @johnmarkdapitan @geeralphtowns @cyrusbacus418-netizen